html { 
	overflow: scroll; 
}
body {
    padding-top: 60px;
    padding-bottom: 60px;
	font-family: "Microsoft YaHei";
	font-size: 16px;
}
blockquote{  
    font-size: 1em;
}   
pre{
	font-size: 0.9em;
}

img{
	max-width: 100%;
	max-height: 100%;
}

h1 {
    color: #ee4444;
    font-size: 1.8em;
}

h2 {
    color: #ee4444;
    font-size: 1.3em;
}

h3 {
    color: #000066;
    font-size: 1.1em;
	font-weight: bold;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.8em;
}

.sidebar ul li span {
    float: right;
	color: #428bca;
}

.sidebar h2 {
    color: #000066;
    font-size: 1.1em;
	font-weight: bold;
}

.sidebar a {
    color: #428bca;
}

.sidebar ul{
	padding-left: 20px;
	list-style: none;
}

.sidebar li {
    margin-top: 1em;
	padding-bottom: 0.5em;
    line-height: 1em;
	border-bottom: 1px solid #969696;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.language-text{
	font-family: "Courier New";
}

.author {
    color: #969696;
}

.author #page{
	padding-bottom: 2em;
}

.author a {
    color: #ee4444;
}

.page-header{
	border-bottom: 1px solid #E3E3E3
}

.post-content{
	margin-top: 1.8em;
}

.post-content h1,h2,h3{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
